<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
        <div id="player"></div>
        <table>
            <tbody>
                <% songs.forEach(function(song, index){ %>
                    <tr>
                        <td><%= songs.length - index %></td>
                        <td>
                            <%= song.songname %>
                        </td>
                        <td>
                            <a href="<%= song.src %>"><%- song.type == 'MP3' ? '<span class="mp3">下载MP3</span>' :  '<span class="mv">观看MV</span>' %></a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    <script src="../static/musicplayer.js"></script>
    <script>
        var songList = [];
        [].slice.call(document.querySelectorAll('table a[href$=mp3]')).forEach(function(item){
            songList.push(item.href)
        })
        new MusicPlayer({
            container : document.getElementById('player'),
            songList:songList,
            autoplay:false
        })
    </script>
</body>
</html>
